<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Making Change, Savings" />
    <meta name="author" content="Eugene W. Carrington Jr." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("SpecialStyles", false)
    <link href="~/Content/MC.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="header">
        <div id="logo" float="left">
            <br /><h1>Making <span style="color:white">Change</span></h1>
            <div id="logo a" style="float:right">
                <img src="~/Content/MCLogo.png" height="150" width="270" float="right" />
            </div>
        </div>
        <div id="menu-bg">
            <div id="menu">
                <ul id="main">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Page", "MyPage", "Home")</li>
                    <li>@Html.ActionLink("Savings Tool", "SavingsTool", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="page">
        @RenderBody()
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="footer">
        <div id="footer-content">
            <p>&copy;2018 All Rights Reserved. &nbsp;&nbsp; Design by <a href="#" rel="nofollow">Eugene W Carrington Jr.</a></p>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
